appdirs==1.4.4
catkin_pkg==0.5.2
certifi==2022.12.7

cflib==0.1.19
contourpy==1.0.7
control==0.9.3.post2
cycler==0.11.0
diffrax==0.3.1
distro==1.8.0
docutils==0.19
equinox==0.10.2
fonttools==4.39.3
freetype-py==2.3.0
hsluv==5.0.3
importlib-metadata==6.1.0
importlib-resources==5.12.0
injector==0.20.1
jax==0.4.7
jax-transformations3d==0.1.0
jaxlib==0.4.7
jaxtyping==0.2.14
kiwisolver==1.4.4
libusb-package==1.0.26.0
matplotlib==3.7.1
ml-dtypes==0.0.4
numpy==1.24.4
opencv-python-headless==4.5.5.64
opt-einsum==3.3.0
packaging==23.0
pillow==9.4.0
pyparsing==3.0.9
pyqt5==5.15.7
pyqt5-qt5==5.15.2
pyqt5-sip==12.11.0
pyqtgraph==0.12.4
pyserial==3.5
python-dateutil==2.8.2
pyusb==1.2.1
pyyaml==5.4.1
pyzmq==22.3.0
qasync==0.23.0
qtm==2.1.1
rospkg==1.5.0
scipy==1.8
six==1.16.0
typeguard==3.0.2
typing-extensions==4.5.0
vispy==0.9.6
zipp==3.15.0
testresources
